*{
  margin: 0;
  padding: 0;
  outline: none;
  vertical-align: baseline;
  font-size: 100%;
  box-sizing: border-box;
  border:none;
}
body{
  margin:0;
  height:100vh;
  width:100vw;
}
#clickIMG {
  max-width: 100vw;
}
#clickIMG img{
  cursor:pointer;
  height: 12vh;
  opacity: 0;
}
h1{
  text-shadow: 0 0 10px rgba(0,0,0,1);
  font-family: arpona, serif;
  font-weight: 300;
  position: fixed;
  font-size: 6em;
  color: white;
  z-index: 5;
  text-align: center;
  top: 35%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
h2{
  text-shadow: 0 0 5px rgba(0,0,0,1);
  font-family: arpona, serif;
  font-weight: 300;
  position: fixed;
  font-size: 2em;
  color: #EEF7F6;
  z-index: 5;
  text-align: center;
  top: 50%;
  left: 50%;
  margin-top: 1em;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

#pic{
  object-fit: cover;
  width: 100vw;
  height:100vh;
}
#BG{
cursor: url(img/click.png), auto;
z-index: 0;
position: absolute;
top:0;
width: 100vw;
height:100vh;
}
/*Menu*/
.footer{
  z-index: 2;
  position: fixed;
  top:92vh;
  width:100vw;
  height:8vh;
  background-color: #b1f7ef;
}
#links{
  position: relative;
  text-align: center;
  top: 28%;
}
a{
  color:#002382;
  margin: 2.5em;
  letter-spacing: 0.08em;
  font-family: 'Raleway', sans-serif;
  font-size: 1.5em;
  font-weight: 700;
  text-decoration: none;

}
a:hover{
  color:#009dff;
}
/*Menu*/
/*NAVBAR*/
nav{
  font-weight: 700;
  z-index: 0
}
.navBar{
  height: 0%;
  width:100%;
  line-height: 4em;
  position: fixed;
  bottom:0;
  left:0;
  background-color: #b1f7ef;
  overflow-x: hidden;
  transition: 0.5s;
}
.navBar::after{
  content: "";
  clear: both;
  display: table;
}
.overlay-content{
  position: relative;
  top:20%;
  width:100%;
  text-align: center;
  margin-top: 30px;
}
.navBar a{
  padding: 8px;
  text-decoration: none;
  font-size: 3em;
  color: #002382;
  display: block;
  transition: 0.3s;
}
.overlay-content a:hover{
  color:#009dff;
}
.navBar .closebtn{
  color: #002382;
  cursor: pointer;
  position: absolute;
  top: 0px;
  right:45px;
  font-size: 7em;
}
#menuIcon{
  display: none;
}
/*@media only screen and (max-width: 600px){

}*/
@media only screen and (max-width: 990px){
  #BG{
    position: absolute;
    top:0;
    height: 100vh;
  }
  .footer{
    position: absolute;
    height:15vh;
    top:85vh;
    width: 100vw;
  }
  .menu{
    display: none;
  }
  #menuIcon{
    margin: 0;
    display: inline;
    outline: none;
    font-size: 9em;
    font-weight: 700;
    cursor: pointer;
    color:#002382;
    z-index: -1;
  }
  /*#links{
    width: 60vw;
    text-align: center!important;
    left: 50%;
    margin: 0 -50% 0 0;
    transform: translate(-50%, -50%);
    top: 50%;
    height: 15vh;
  }
  a{
    line-height: 4vh;
    font-family: 'Raleway', sans-serif;
    font-size: 3.5em;
    font-weight: 700;
    text-decoration: none;
  }*/
  h1{
    padding: 0;
    position: absolute;
    font-size: 7em!important;
    color: white;
    line-height: 2em;
    z-index: 1;
    text-align: center;
    top: 40%;
    left: 50%;
    margin: 0 -50% 0 0;
    transform: translate(-50%, -50%);
  }
  h2{
    top: 50%;
    position: absolute;
    font-size: 4em;
    z-index: 1;
  }
  #fade-in{
    opacity: 0;
  }
  #fade-in{
  color: #002382;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 2.5em;
  font-weight: bold;
  opacity: 1;
  position: absolute;
  top:30%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  z-index: 5;
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-delay: 1.75s;
    animation-fill-mode: forwards; }

        @keyframes fadeInAnimation {
            0% {
                opacity: 1;
            }
            100% {
                opacity: 0;
            }
{
