html, body{
  margin: 0;
  padding: 0;
  width: 100%;
}
body {
/*background: #830E51;
  /*background-image: url("gradient.svg");*/
  background-repeat: no-repeat;
  background-size: cover;
  font-family: agenda, sans-serif;
}
img, #bird{
  margin: 0;
  z-index: 0!important;
  width: 65vw;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter:drop-shadow(0 5px 10px black);
}
.wrapper{
z-index: -1;
background: -webkit-linear-gradient(43deg, #414087 35%,#5B2A4B 60%, #C47562 100%);
height: 100vh;
width: 100vw;
}
.nav{
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  /*border-bottom: 2px solid #FFC200;*/
  background: #c4257a;
  filter:drop-shadow(0 1px 10px #4d383d);
}
.logo{
  letter-spacing: 1px;
  float:left;
  color: #FFF;
  font-size: 3em;
  line-height: 8vh;
  padding: 0 0.5em;
  font-weight: bold;
  text-shadow: 1px 1px 10px black;
}

.menu{
  float: right;
  line-height: 8vh;
  margin: 0 1.5em;
  text-shadow: 0.2px 3px 5px #171717;
}
.menu, ul{
 list-style: none!important;
}
.menu, ul, li {
  display: inline-block!important;
}

.menu, ul, li, a {
  text-decoration:none;
  color: #fff;
  font-size: 1.1em;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 0 0.5em;
}
  a:hover {
    color: #fce38a;
    border-bottom: 0.1875em solid #fce38a;
  }
#button{
  color: #fce38a;
  border: 4px solid #fce38a;
  padding: 10px 20px;
  border-radius: 2px;
  font-size: 1.1em;
  font-weight: 500;
}
#button:hover{
  color: #130A2D!important;
  background: #fce38a;
  padding: 10px 20px;
  border-radius: 2px;
}
/*img{
  z-index: -1!important;
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/*resp*/
.resp{
  height: 100%;
  width:0;
  line-height: 4.5em;
  position: fixed;
  z-index: 11!important;
  top:0;
  left:0;
  overflow-x: hidden;
  transition: 0.5s;
  background: #5B2A4B;
}
.resp::after{
  content: "";
  clear: both;
  display: table;
}
.overlay-content{
  position: relative;
  top:15%;
  width:100%;
  text-align: center;
  margin-top: 15px;
}


.resp li a{
  padding: 0;
  text-decoration: none;
  font-size: 1.25em;
  display: block;
  transition: 0.3s;
}
.resp a:hover{
    color: #fce38a;
}
#button2{
  color: #130A2D!important;
  background: #fce38a;
  padding: 8px 30px;
  border-radius: 2px;
  font-size: 1.25em;
  font-weight: 500;
}
.resp .closebtn{
  color: #b1f7ef;
  cursor: pointer;
  position: absolute;
  top:0;
  right:45px;
  font-size: 4em;
}
#menuIcon{
  display: none;
}

/*RESPONSIVENESS*/
@media only screen and (max-width: 900px) {
  .wrapper{
    z-index: -2!;
  }

  #bird{
    z-index: -1;
    width:100%;
  }
  .logo{
    padding: 0 0.25em;
    font-size: 2em;
  }
  .menu{
    display: none!important;
  }
  #menuIcon{
    line-height: 8vh;
    padding: 0 0.5em;
    float:left;
    display: inline;
    outline: none;
    font-size: 3em;
    font-weight: 700;
    cursor: pointer;
    color:white;
  }
  .resp{
    z-index: 11;
  }
}
