*{
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  vertical-align: baseline;
  font-size: 100%;
  box-sizing: border-box;
}
html{
font-family: 'Raleway',sans-serif;
letter-spacing: 0.01em;
}
body{
  width: 100%;
  height: 100%;
  background: #0b0039;
}
.wrapper{
  width: 90%;
  margin: 0 auto;
  border-color: 10px black solid;
}
h1{
  font-family: "arpona", serif;
  color: #fff;
  font-size:2em;
  font-weight:normal;
}
/*page title*/
h2{
color:#B1F7EF;
font-size: 3em;
margin-top: 0;
margin-left: 0.5em;
}
p{
  font-family: 'Raleway', sans-serif;
  color:#fff;
  font-size: 1.25em;
  line-height: 1.25em;
  font-weight: 200;
}

/*.work*/
.work, .work2{
  text-align: center;
  width: 100%;
  background-color: rgb(20,20,20,0.5);
}
.work img{
  margin: 1%;
  width: 75%;
}
.work audio{
  margin: 5%;
  width: 25%;
}
.work2 video{
  margin: 1%;
  width:75%;
}
/*img descriptions*/
#description{
  font-size: 1em;
  margin: 7.5% 15% 7.5% 15%;
  color: white;
  text-align: left;
}
#imgtext{
  margin: 2% 0 2% 0;
  text-align: center;
  color: white;
}
/*header*/
header{
  margin: 10% 0 10% 15%;
}

header p,.header2 p,.header3 p{
  width: 75%;
  font-size: 1em;
  font-weight: lighter;
  margin-top: 5%;
}
/*header 2*/
.header2{
  margin: 10% 0 10% 15%;
}

/*header 3*/
.header3{
  margin: 10% 0 10% 15%;
}
/*footer*/
footer{
  margin-top: 15%;
  margin-bottom: 2.5%;
  font-size: 1em;
  text-align: center;
}
footer a{
  text-decoration: none;
  letter-spacing: 0.5em;
  font-size: 1em;
  text-align: center;
  color: #B1F7EF;
}
/*Menu*/
.menu{
  position: absolute;
  top: 10vh;
  left: 0em;
  font-size: 1.5em;
}
.menu a{
  color: #B1F7EF;
  text-decoration: none;
  font-weight: 700;
  margin: 0em 2.5em 0em 2.5em;
}
.menu a:hover{
  color:#009dff;
}
/*Menu*/
/*NAVBAR*/
nav{
  font-weight: 700;
}
.navBar{
  height: 100%;
  width:0;
  line-height: 4em;
  position: fixed;
  z-index: 11;
  top:0;
  left:0;
  background-color: #124c82;
  overflow-x: hidden;
  transition: 0.5s;
}
.navBar::after{
  content: "";
  clear: both;
  display: table;
}
.overlay-content{
  position: relative;
  top:25%;
  width:100%;
  text-align: center;
  margin-top: 30px;
}
.navBar a{
  padding: 8px;
  text-decoration: none;
  font-size: 1.5em;
  color: #B1F7EF;
  display: block;
  transition: 0.3s;
}
.overlay-content a:hover{
  color:#009dff;
}
.navBar .closebtn{
  color: #B1F7EF;;
  cursor: pointer;
  position: absolute;
  top:0;
  right:45px;
  font-size: 4em;
}

#menuIcon{
  display: none;
}
/*Responsiveness*/
@media only screen and (max-width: 600px){
/*menu resp*/
  .menu{
    display: none;
  }
  h2{
   margin-bottom: 1em;
  }
  #menuIcon{
    position: relative;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    display: inline;
    outline: none;
    font-size: 3em;
    font-weight: 700;
    cursor: pointer;
    color:#B1F7EF;
  }
/*menu resp*/
  header{
    text-align: left;
    margin: 20% 0 20% 5%;
  }
  header h1{
    font-size: 2em;
  }
  header p{
    font-size: 1em;
    width: 90%;
  }
  .work img{
    margin:2%;
    width: 90%;
  }
  .header2{
    margin: 12% 0 6% 8%;
  }
  .header2 h1{
    font-size: 2em;
  }
  .header2 p1{
    font-size: 1em;
    width: 90%;
    color: white;
  }
  .work2 video{
    margin: 2%;
    width:90%;
  }

  footer a{
    position: absolute;
    text-align: center;
    left: 50%;
    margin-right: -50%;
    margin-top:15%;
    transform: translate(-50%, -50%)
  }
}
