*{
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  vertical-align: baseline;
  font-size: 100%;
  box-sizing: border-box;
}
html{
letter-spacing: 0.01em;
}
body{
  font-family: Raleway,sans-serif;
  width: 100%;
  height: 100%;
  background: #010149;
}
.wrapper{
  width: 90%;
  margin: 0 auto;
  border-color: 10px black solid;
}
h2{
  color:#f7d6df;
  font-size: 3em;
  margin-top: 0;
  margin-left: 0.5em;
}
p{
  color:#fff;
  font-size: 1em;
  font-weight: 200;
}

header{
  margin: 10% 0% 5% 15%;
}

header p{
  width: 75%;
  font-size: 1.25em;
  font-weight: lighter;
  margin-top: 2.5%;
}
footer{
  font-size: 1em;
  text-align: center;
}
footer p{
  text-shadow: 0 0 5px rgba(0,0,0,0.5);
  font-family: arpona, serif;
  font-weight: 300;
  color: #f7d6df;
  margin-top: 15vh;
  margin-bottom: 2.5%;
  letter-spacing: 0.5em;
  font-size: 1em;
  text-align: center;
}
h1{
  font-size: 4em;
  margin-bottom: 2.5%;
  font-family: arpona, serif;
  font-weight: 300;
  color: white;
}
.work img{
  margin: 1%;
  width: 30%;
  height: 30%;
}
.material-icons{
  font-size: 0.75em;

}
/*Menu*/
.menu{
  position: absolute;
  top: 10vh;
  left: 0em;
  font-size: 1.5em;
}
.menu a{
  color: #f7d6df;
  text-decoration: none;
  font-weight: 700;
  margin: 0em 2.5em 0em 2.5em;
}
.menu a:hover{
  color:#009dff;
}
/*Menu*/
/*NAVBAR*/
nav{
  font-weight: 700;
}
.navBar{
  height: 100%;
  width:0;
  line-height: 4em;
  position: fixed;
  z-index: 11;
  top:0;
  left:0;
  background-color: #7109b6;
  overflow-x: hidden;
  transition: 0.5s;
}
.navBar::after{
  content: "";
  clear: both;
  display: table;
}
.overlay-content{
  position: relative;
  top:25%;
  width:100%;
  text-align: center;
  margin-top: 30px;
}
.navBar a{
  padding: 8px;
  text-decoration: none;
  font-size: 1.5em;
  color: #f7d6df;
  display: block;
  transition: 0.3s;
}
.overlay-content a:hover{
  color:#009dff;
}
.navBar .closebtn{
  color: #f7d6df;;
  cursor: pointer;
  position: absolute;
  top:0;
  right:45px;
  font-size: 4em;
}

#menuIcon{
  display: none;
}
/*Responsiveness*/
@media only screen and (max-width: 600px){
  .menu{
    display: none;
  }
  .work img{
    margin: 3% 0% 1% 1%;
    width: 45%;
    height:45%;
  }
  #menuIcon{
    position: absolute;
    top: 10vh;
    left: 0.5em;
    display: inline;
    outline: none;
    font-size: 3em;
    font-weight: 700;
    cursor: pointer;
    color:#f7d6df;
  }
  header{
    margin: 15% 0% 5% 15%;
  }

}
